<div class="mb-5">
  <div class="container mt-4">
    <h1>Services</h1>
    <form (ngSubmit)="submitService()" #serviceForm="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Service Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="serviceData.name"
          required
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          [(ngModel)]="serviceData.description"
          rows="3"
        ></textarea>
      </div>

      <!-- Hidden admin_user_id -->


      <!-- Action and ID for update -->


      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!serviceForm.form.valid"
      >
        {{ serviceData.action === 'create' ? 'Create' : 'Update' }} Service
      </button>
    </form>
  </div>


</div>
