<main class="container-fluid">
  <header id="welcome-banner">
    <section class="row align-items-center">
      <article class="col-lg-8">
        <h2 class="headlevel-one-w">Welcome<br />Aysha Begam,</h2>
        <p>
          Your work is going to fill a large part of your life, and the only way
          to be truly satisfied is to do what you believe is great work.
        </p>
      </article>
      <aside class="col-lg-4 d-none d-lg-block">
        <figure id="welcome-illustration">
          <img src="assets/images/fuoday/dashboard/ats-dash.png" />
        </figure>
      </aside>
    </section>
  </header>

  <section class="row">
    <section class="col-lg-8">
      <section class="row mb-4">
        <article class="col-md-4 mb-3">
          <section class="card stat-card" id="stat-card-1">
            <div class="icon-round">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" class="icon-col-prim icon-28" data-name="Layer 2" width="32" height="32" viewBox="0 0 32 32">
  <path d="m10.88,15.51c-3.01,0-5.46-2.79-5.46-6.22s2.45-6.22,5.46-6.22,5.46,2.79,5.46,6.22-2.45,6.22-5.46,6.22Zm0-11.44c-2.46,0-4.46,2.34-4.46,5.22s2,5.22,4.46,5.22,4.46-2.34,4.46-5.22-2-5.22-4.46-5.22Z"/>
  <path d="m19.9,15.65c-1.81,0-3.22-.9-3.24-.92l-.4-.26.24-.41c3.05-5.2.17-8.8.05-8.95l-.32-.39.4-.32c2.37-1.86,4.93-1.86,6.87,0,2.08,2,2.98,5.96,1.02,8.65-1.48,2.03-3.18,2.59-4.62,2.59Zm-2.28-1.53c1.04.5,3.83,1.44,6.09-1.65,1.63-2.24.84-5.67-.9-7.34-1.47-1.41-3.34-1.49-5.18-.22.74,1.18,2.42,4.68,0,9.22Z"/>
  <path d="m20.75,29H1.5v-5.21l.1-.13c.13-.18,3.35-4.45,9.71-4.74.15,0,.31-.01.46-.01,6.12,0,8.91,5.58,8.94,5.64l.05.1v4.34Zm-18.25-1h17.25v-3.11c-.4-.75-3.02-5.19-8.4-4.97-5.3.24-8.29,3.53-8.85,4.21v3.87Z"/>
  <path d="m30.34,29h-6.65l.17-.63c.02-.06,1.56-6-2.39-9.21l-1.28-1.04,1.64.16c.18.02,4.49.46,6.98,3.59,1.41,1.77,1.94,4.02,1.59,6.71l-.06.43Zm-5.38-1h4.49c.21-2.21-.27-4.07-1.43-5.52-1.35-1.69-3.35-2.51-4.73-2.9,2.38,2.97,1.95,6.9,1.67,8.42Z"/>
</svg>
              </span>
            </div>
            <header class="stat-number">80</header>
            <h3 class="headlevel-three-normal">Total Opening Position</h3>
            <p class="mb-0">
              20 critical roles requiring immediate attention—prioritize these
              urgent hiring needs today
            </p>
          </section>
        </article>
        <article class="col-md-4 mb-3">
          <section class="card stat-card" id="stat-card-2">
            <div class="icon-round">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  id="Layer_1"
                  class="icon-col-prim icon-28"
                  data-name="Layer 1"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <path
                    d="m13.43,24.9c-2.06,0-3.72-.02-4.04-.08-.95-.17-1.31-.96-1.38-1.39v-8.32c0-.85.54-1.28.86-1.41l.18-.03h2c2.62-.03,11.19-.11,11.77.01.71.15,1.03.83,1.11,1.2v.1c.01.32.04,7.96.01,8.54-.04.73-.73,1.14-1.13,1.27l-.15.02c-.81,0-5.62.07-9.24.07Zm-4.42-1.54s.1.4.56.48c.59.1,8.25.05,13,0,.15-.07.38-.21.38-.35.02-.44,0-5.66,0-8.42-.03-.1-.14-.36-.33-.4-.51-.08-7.36-.04-11.56.01h-1.88c-.07.06-.18.18-.18.44v8.24h0Z"
                  />
                  <path
                    d="m11.64,19.29c-.7,0-1.3,0-1.54-.03-.83-.08-1.69-1.36-2.02-1.91l.86-.52c.42.7,1.03,1.39,1.26,1.43.52.05,3.4.01,4.46,0l.02,1c-.1,0-1.72.03-3.03.03Z"
                  />
                  <path
                    d="m20.14,19.29c-1.31,0-2.93-.02-3.03-.03l.02-1c1.06.02,3.94.05,4.46,0,.22-.04.83-.74,1.25-1.43l.86.52c-.33.55-1.19,1.84-2.02,1.91-.24.02-.84.03-1.54.03Z"
                  />
                  <path
                    d="m17.62,21.3h-3.18v-4.92h3.18v4.92Zm-2.18-1h1.18v-2.92h-1.18v2.92Z"
                  />
                  <path
                    d="m21.26,14.12h-1v-1.77c0-.18-.28-.38-.48-.47h-7.14c-.32,0-.64.49-.77.79v1.24h-1l.03-1.52c.06-.15.61-1.51,1.74-1.51l7.42.03c.12.05,1.2.48,1.2,1.44v1.77Z"
                  />
                  <path
                    d="m27.07,15.87l-3.78-4.18h2l.09-4.68h3.75l.03,4.68h2.03l-4.12,4.18Zm-1.53-3.18l1.56,1.72,1.7-1.72h-.63l-.03-4.68h-1.77l-.09,4.68h-.73Z"
                  />
                  <path
                    d="m4.65,15.87L.87,11.69h2l.09-4.68h3.74l.03,4.68h2.03l-4.12,4.18Zm-1.53-3.18l1.56,1.72,1.7-1.72h-.63l-.03-4.68h-1.77l-.09,4.68h-.73Z"
                  />
                  <path
                    d="m16.02,12.28l-1.29-2.62c-1.31-.57-3.38-2.18-2.92-4.71.2-1.1.75-1.98,1.62-2.62,1.51-1.11,3.57-1.11,5.13,0,1,.71,1.58,1.76,1.66,3.02.18,2.68-1.81,3.97-3.08,4.35l-1.13,2.59Zm-.04-9.79c-.69,0-1.38.21-1.96.64-.66.48-1.07,1.16-1.23,2-.46,2.51,2.45,3.66,2.48,3.67l.18.07.51,1.04.47-1.07.25-.06c.11-.03,2.73-.66,2.55-3.37-.06-.96-.48-1.73-1.25-2.27-.6-.43-1.3-.64-2-.64Z"
                  />
                  <rect
                    x="13.38"
                    y="5.15"
                    width="5.24"
                    height="1"
                    transform="translate(.7 12.99) rotate(-45.08)"
                  />
                  <rect
                    x="15.56"
                    y="3.03"
                    width="1"
                    height="5.24"
                    transform="translate(.69 12.98) rotate(-44.89)"
                  />
                  <path
                    d="m16.34,27.71c-.42,0-.68-.01-.73-.02-.4,0-10.07-.26-11.31-4.33l-.02-.11s-.2-3.46,3.88-4.49l.25.97c-3.02.76-3.13,3.01-3.13,3.4.93,2.76,7.79,3.51,10.37,3.56.08,0,6.66.31,10.21-2.68.76-.64,1.1-1.27.99-1.86-.23-1.36-2.56-2.51-3.43-2.84l.35-.94c.38.14,3.7,1.45,4.07,3.61.17.97-.28,1.91-1.33,2.8-3.17,2.67-8.28,2.93-10.17,2.93Z"
                  />
                  <path
                    d="m15.91,30.5c-13.63,0-14.38-7.56-14.4-7.89l1-.08c.03.29.77,7.2,13.95,6.96,6.92-.1,10.11-1.94,11.56-3.46,1.53-1.6,1.5-3.16,1.49-3.22l1-.04c0,.08.07,2-1.74,3.92-2.3,2.44-6.44,3.72-12.3,3.81-.19,0-.37,0-.55,0Z"
                  />
                </svg>
              </span>
            </div>
            <header class="stat-number">20</header>
            <h3 class="headlevel-three-normal">Total Closed Position</h3>
            <p class="mb-0">
              20 critical roles requiring immediate attention—prioritize these
              urgent hiring needs today
            </p>
          </section>
        </article>
        <article class="col-md-4 mb-3">
          <section class="card stat-card" id="stat-card-3">
            <div class="icon-round">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  id="Layer_1"
                  class="icon-col-prim icon-28"
                  data-name="Layer 1"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <path
                    d="m17.58,25H4l-.14-.12c-.05-.05-1.26-1.13-1.34-2.65-.06-1.32-.03-8.24-.03-8.53h1c0,.08-.04,7.19.03,8.48.04.84.62,1.55.88,1.83h13.18v1Z"
                  />
                  <path
                    d="m16.64,16.06l-.2-.98,7.87-1.59c.75-.37,1.49-.92,1.55-1.14v-4.77c-.22-.28-.9-.99-2.04-.99h-10.92v-1h10.92c1.94,0,2.92,1.49,2.96,1.56l.08.12v5.1c0,.91-1.52,1.74-2.17,2.05l-.12.04-7.93,1.6Z"
                  />
                  <path
                    d="m11.65,16.06c-.27-.05-6.66-1.28-8.29-1.65-1.84-.69-1.86-2.06-1.86-2.12v-4.14c0-.88,1.22-1.85,1.59-2.12l.13-.1h7.06v1H3.56c-.56.44-1.06,1.01-1.06,1.22v4.14s.05.74,1.15,1.16c1.55.35,8.13,1.61,8.19,1.63l-.19.98Z"
                  />
                  <path
                    d="m14.02,20.24c-1.43,0-2.56-1.72-2.56-3.92s1.12-3.92,2.56-3.92,2.56,1.72,2.56,3.92-1.12,3.92-2.56,3.92Zm0-6.83c-.74,0-1.56,1.2-1.56,2.92s.82,2.92,1.56,2.92,1.56-1.2,1.56-2.92-.82-2.92-1.56-2.92Z"
                  />
                  <path
                    d="m8.65,5.79h-1v-2.51l.07-.12c.04-.06.95-1.58,2.54-1.64,1.33-.05,7.88,0,8.16,0l.15.03c.21.07,2.02.7,2.08,1.99.04.99,0,2.04,0,2.09l-1-.04s.04-1.06,0-2c-.02-.41-.77-.86-1.32-1.06-.78,0-6.8-.04-8.04,0-.84.03-1.45.77-1.65,1.05v2.22Z"
                  />
                  <path
                    d="m24.88,30.5c-3.1,0-5.62-2.69-5.62-6s2.52-6,5.62-6,5.62,2.69,5.62,6-2.52,6-5.62,6Zm0-11c-2.55,0-4.62,2.24-4.62,5s2.08,5,4.62,5,4.62-2.24,4.62-5-2.07-5-4.62-5Z"
                  />
                  <polyline
                    points="24.88 19.53 24.88 24.29 30 24.29"
                    style="fill: none"
                  />
                  <rect x="25.85" y="11.71" width="1" height="4.22" />
                </svg>
              </span>
            </div>
            <header class="stat-number">60</header>
            <h3 class="headlevel-three-normal">Total Position Pending</h3>
            <p class="mb-0">
              20 critical roles requiring immediate attention—prioritize these
              urgent hiring needs today
            </p>
          </section>
        </article>
      </section>

      <section class="card" id="bottom-section">
        <section class="row">
          <article class="col-lg-4">
            <h3 class="headlevel-three">Goals in HR</h3>
            <div class="goal-img">
              <img src="assets/images/fuoday/dashboard/groupgoal.png" alt="" />
            </div>
            <!-- <figure id="chart-container">
                                <canvas id="pieChart" width="200" height="200"></canvas>
                            </figure> -->
          </article>
          <article class="col-lg-6" id="requirement-section">
            <h3 class="headlevel-three">Total Requirement</h3>
            <time id="requirement-date">23 April 2025</time>
            <p id="requirement-description">
              "The total requirement for the project includes manpower, budget,
              materials, and time."
            </p>
            <section id="requirement-stats">
              <article class="requirement-item">
                <div class="d-flex align-items-center gap-2">
                  <div class="dot dot-pending mb-0"></div>
                <header class="requirement-label mb-0">Pending</header>
                </div>
                <span class="requirement-number">60</span>
              </article>
              <article class="requirement-item">
                <div class="d-flex align-items-center gap-2">
                  <div class="dot dot-closed mb-0"></div>
                  <header class="requirement-label mb-0">Closed</header>

                </div>
                <span class="requirement-number">40</span>

              </article>
              <article class="requirement-item">
                <div class="d-flex align-items-center gap-2">
                  <div class="dot dot-total mb-0"></div>
                <header class="requirement-label mb-0">Total</header>
                </div>

                <span class="requirement-number">80</span>
              </article>
            </section>
          </article>
        </section>
      </section>
    </section>

    <aside class="col-lg-4">
      <section class="card goal-card" id="goal-card-1">
        <header class="goal-title">
          Day Goal <span class="goal-number">10</span>
        </header>
        <p class="goal-subtitle">Total Closed Position</p>
        <p class="small mb-0">20% increase from last week</p>
      </section>

      <section class="card goal-card" id="goal-card-2">
        <header class="goal-title">
          Weekly Goal <span class="goal-number">70</span>
        </header>
        <p class="goal-subtitle">Total Closed Position</p>
        <p class="small mb-0">20% increase from last week</p>
      </section>

      <section class="card goal-card" id="goal-card-3">
        <header class="goal-title">
          Monthly Goal <span class="goal-number">300</span>
        </header>
        <p class="goal-subtitle">Total Closed Position</p>
        <p class="small mb-0">20% increase from last week</p>
      </section>
    </aside>
  </section>
</main>
