<div class="atsdashboard-fullpage-box">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center  gap-4">

    <!-- Text Section -->
    <div class="text-section mb-4 mb-md-0">
      <p class="atsboxtext">Welcome <br> Aysha Begam,</p>
      <p class="atstext">
        Your work is going to be a big part of your life, and the only way to be satisfied is to do what you believe is great work.
      </p>
    </div>

    <!-- Image Section -->
    <div class="image-section">
      <img src="assets/images/fuoday/ats/AtsDashboard.png" class="img-fluid atslogo-img" />
    </div>

  </div>

</div>

<!-- 4 Equal Boxes in One Row Using Flex -->
<div class="atsdashboar d-flex flex-wrap gap-5 mt-4 px-5">
  <div class="atsdashboard-rowbox firstcolor atssmall-box d-flex flex-column gap-3">
    <div class="d-flex justify-content-between align-items-center" >
      <p class="boxnumber mb-0 ">80</p>
      <img src="assets/images/fuoday/ats/hrgoogle.svg" alt="Icon" />
    </div>
    <p class="boxtext mb-0">Total Opening Position</p>
    <p class="boxsubtext">20 critical roles requiring immediate attention—prioritize these urgent hiring needs today</p>
  </div>

  <div class="atsdashboard-rowbox secoundcolor atssmall-box d-flex flex-column gap-3  ">
    <div class="d-flex justify-content-between align-items-center" >
    <p class="boxnumber mb-0">20</p>
    <img src="assets/images/fuoday/ats/hrgoogle.svg" alt="Icon" />
  </div>
    <p class="boxtext mb-0">Total Closed Position</p>
      <p class="boxsubtext">20 critical roles requiring immediate attention—prioritize these urgent hiring needs today</p>
    </div>
  <div class="atsdashboard-rowbox thirdcolor atssmall-box d-flex flex-column gap-3 ">
    <div class="d-flex justify-content-between align-items-center" >
    <p class="boxnumber mb-0">60</p>
    <img src="assets/images/fuoday/ats/hrgoogle.svg" alt="Icon" />
  </div>
    <p class="boxtext mb-0">Total Position Pending</p>
      <p class="boxsubtext">20 critical roles requiring immediate attention—prioritize these urgent hiring needs today</p>
    </div>
<div class="atsdashboard-lastbox ">
  <!-- Box Below Existing Row -->
 <div class="below-box  d-flex justify-content-between " style="padding-top: 30px; padding-left: 30px;">
    <h1 class="lastbox-text">Goals in HR</h1>
    <p class=" lastbox-date">23 April 2025</p>
  </div>

<div class=" atsdashboard-center-box d-flex justify-content-center gap-4">
  <img  src="assets/images/fuoday/ats/hrflow.svg" alt="Icon" class="hrflowimg" />

  <div class="boxcontent text-center">
    <p class="boxcontenttext mb-1 fw-bold">Total Requirement</p>
    <p class="boxsubcontent text-center mb-0">
      The total requirement for the project includes manpower, budget, materials, and time.
    </p>
  </div>

</div>

</div>
</div>

