

    <div class="main">
        <div class="profile-section">

            <div class="profile-info">
                <img src="assets/images/fuoday/logo/default.jpg" alt="Aysha Begam" />
                <div class="profile-content">
                    <h3 class="profile-name-w mb-1">Aysha Begam</h3>
                    <p class="profile-smfont-w mb-1">Employee ID : 12345</p>
                    <p class="profile-smfont-w mb-0">Recruiter</p>
                </div>
            </div>
            <div class="edit-button">
              <i class="fas fa-pencil-alt"></i>
            </div>
        </div>

<div class="card-container">
  <div class="card pink">
    <div class="icon-circle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-col-prim icon-28" id="Layer_1" data-name="Layer 1" width="32" height="32" viewBox="0 0 32 32">
          <path d="m24.17,30.5c-7.77,0-16.08-7.14-19.89-14.66C.21,7.82,1.79,3.96,1.86,3.8l.13-.3h8.76l1.37,7.72-4.02,4.44c3.14,4.6,6.84,7.12,7.96,7.82l3.82-4.24,7.14,1.97.04.33c.03.24.69,5.88-.02,8.34l-.08.29-.29.06c-.83.18-1.66.26-2.51.26ZM2.69,4.5c-.25,1.01-.72,4.58,2.48,10.89,4,7.9,13.12,15.38,21,13.93.45-2.07.07-6.14-.05-7.32l-5.9-1.62-3.95,4.38-.35-.19c-.2-.11-4.96-2.76-8.87-8.67l-.21-.32,4.21-4.66-1.14-6.41H2.69Z"/>
          <rect x="16.2" y="13.24" width="13.8" height="1"/>
          <rect x="16.2" y="7.37" width="13.8" height="1"/>
          <rect x="16.08" y="1.5" width="13.8" height="1"/>
        </svg>
      </span>
    </div>
    <p class="title">Total Call Made Today</p>
    <p class="count">0</p>
    <div class="d-flex justify-content-center">
      <button class="view-btn">View Logs</button>
    </div>
  </div>

  <div class="card blue">
    <div class="icon-circle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-col-prim icon-28" id="Layer_1" data-name="Layer 1" width="32" height="32" viewBox="0 0 32 32">
          <path d="m24.17,30.5c-7.77,0-16.08-7.14-19.89-14.66C.21,7.82,1.79,3.96,1.86,3.8l.13-.3h8.76l1.37,7.72-4.02,4.44c3.14,4.6,6.84,7.12,7.96,7.82l3.82-4.24,7.14,1.97.04.33c.03.24.69,5.88-.02,8.34l-.08.29-.29.06c-.83.18-1.66.26-2.51.26ZM2.69,4.5c-.25,1.01-.72,4.58,2.48,10.89,4,7.9,13.12,15.38,21,13.93.45-2.07.07-6.14-.05-7.32l-5.9-1.62-3.95,4.38-.35-.19c-.2-.11-4.96-2.76-8.87-8.67l-.21-.32,4.21-4.66-1.14-6.41H2.69Z"/>
          <rect x="16.2" y="13.24" width="13.8" height="1"/>
          <rect x="16.2" y="7.37" width="13.8" height="1"/>
          <rect x="16.08" y="1.5" width="13.8" height="1"/>
        </svg>
      </span>
    </div>
    <p class="title">Yesterday Call Progress</p>
    <p class="count">15</p>
    <div class="d-flex justify-content-center">
      <button class="view-btn">View Logs</button>
    </div>
  </div>

  <div class="card purple">
    <div class="icon-circle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-col-prim icon-28" id="Layer_1" data-name="Layer 1" width="32" height="32" viewBox="0 0 32 32">
          <path d="m24.17,30.5c-7.77,0-16.08-7.14-19.89-14.66C.21,7.82,1.79,3.96,1.86,3.8l.13-.3h8.76l1.37,7.72-4.02,4.44c3.14,4.6,6.84,7.12,7.96,7.82l3.82-4.24,7.14,1.97.04.33c.03.24.69,5.88-.02,8.34l-.08.29-.29.06c-.83.18-1.66.26-2.51.26ZM2.69,4.5c-.25,1.01-.72,4.58,2.48,10.89,4,7.9,13.12,15.38,21,13.93.45-2.07.07-6.14-.05-7.32l-5.9-1.62-3.95,4.38-.35-.19c-.2-.11-4.96-2.76-8.87-8.67l-.21-.32,4.21-4.66-1.14-6.41H2.69Z"/>
          <rect x="16.2" y="13.24" width="13.8" height="1"/>
          <rect x="16.2" y="7.37" width="13.8" height="1"/>
          <rect x="16.08" y="1.5" width="13.8" height="1"/>
        </svg>
      </span>
    </div>
    <p class="title">Follow Up Call Today</p>
    <p class="count">0</p>
    <div class="d-flex justify-content-center">
      <button class="view-btn">View Logs</button>
    </div>
  </div>

  <div class="card peach">
    <div class="icon-circle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-col-prim icon-28" id="Layer_1" data-name="Layer 1" width="32" height="32" viewBox="0 0 32 32">
          <path d="m24.17,30.5c-7.77,0-16.08-7.14-19.89-14.66C.21,7.82,1.79,3.96,1.86,3.8l.13-.3h8.76l1.37,7.72-4.02,4.44c3.14,4.6,6.84,7.12,7.96,7.82l3.82-4.24,7.14,1.97.04.33c.03.24.69,5.88-.02,8.34l-.08.29-.29.06c-.83.18-1.66.26-2.51.26ZM2.69,4.5c-.25,1.01-.72,4.58,2.48,10.89,4,7.9,13.12,15.38,21,13.93.45-2.07.07-6.14-.05-7.32l-5.9-1.62-3.95,4.38-.35-.19c-.2-.11-4.96-2.76-8.87-8.67l-.21-.32,4.21-4.66-1.14-6.41H2.69Z"/>
          <rect x="16.2" y="13.24" width="13.8" height="1"/>
          <rect x="16.2" y="7.37" width="13.8" height="1"/>
          <rect x="16.08" y="1.5" width="13.8" height="1"/>
        </svg>
      </span>
    </div>
    <p class="title">Non Responsive Calls</p>
    <p class="count">0</p>
    <div class="d-flex justify-content-center">
      <button class="view-btn">View Logs</button>
    </div>
  </div>
</div>

<div class="hiring-chart mt-4">
  <div class="hiring-chart-block">
    <div class="hiring-chart-head">
    <h2 class="headlevel-three mb-0">
      Hiring Manager
    </h2>
  </div>
  <div>
    <button type="button" class="gradientBtn">
      Schedule interview timing
    </button>
  </div>
  </div>

</div>

    </div>
